@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@300&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Mulish', sans-serif; */
:root{
    --primary-font:'Merriweather', serif;
    --secondary-font:'Mulish', sans-serif;
    --text-color:#0D1C52;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  position: relative;
  height: 100%;
  background-color: #e5e5e5;
}

.box-1 {
  width: 484px;
  height: 632px;
  background-color: #fcc863;
  border-radius: 20%;
  position: absolute;
  left: 324px;
  top: 43px;
}

.box-2 {
  width: 300px;
  height: 480px;
  background-color: #fc9a63;
  position: absolute;
  top: 719px;
  left: 1053px;
  border-radius: 20%;
}

.main-section {
  width: 756px;
  height: 897px;
  background-color: red;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  border-radius: 20px;
  left: 422px;
  top: 152px;
  z-index: 1;
}

form h1{
    font-size: 32px;
    font-weight: bold;
    padding: 8% 10% 5% 10%;
    font-family: var(--primary-font);
    color: var(--text-color);
}


.frame-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10% 5% 10%;
    font-family: var(--secondary-font);
    color: var(--text-color);
}

.frame-1 label{
    margin: 1% 0;
    /* 14 bold mulish; */
    font-size:14px;
    font-weight: bold;
    
}

.frame-1 input{
    padding: 2%;
}
