@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@300&display=swap");

/* Utility Classes */
:root {
  --primary-font: "Merriweather", serif;
  --secondary-font: "Mulish", sans-serif;
  --text-color: #0d1c52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

/* BODY OF THE PAGE */

body {
  display: flex;
  position: relative;
  height: 100%;
  background-color: #e5e5e5;
}

/* THE Yellow Box */

.box-1 {
  width: 484px;
  height: 632px;
  background-color: #fcc863;
  border-radius: 20%;
  position: absolute;
  left: 324px;
  top: 43px;
}

/* The Orange Box */

.box-2 {
  width: 300px;
  height: 480px;
  background-color: #fc9a63;
  position: absolute;
  top: 719px;
  left: 1053px;
  border-radius: 20%;
}

/* Main Section and form of the page */

.main-section {
  width: 756px;
  height: 897px;
  background-color: red;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  border-radius: 20px;
  left: 422px;
  top: 152px;
  z-index: 1;
}

form h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 8% 10% 5% 10%;
  font-family: var(--primary-font);
  color: var(--text-color);
}

/* First Frame of the form */

.frame-1 label {
  margin: 1% 0;
  font-size: 14px;
  font-weight: bold;
}

.frame-1 input {
  padding: 2%;
}

.frame-1-1 {
  padding: 0 10% 1% 10%;
}

.frame-1-2 {
  padding: 0 10%;
  font-family: var(--secondary-font);
  color: var(--text-color);
  display: flex;
}

.frame-1-2 label{
  margin: 0 1%;
}

/* Frame 2 date picker */

.date-picker{
  display: flex;
}

.frame-2{
  padding: 0 10% 1% 10%;
  margin-top: 5%;
  font-weight: bolder;
}

.frame-2-1 input{
  margin:12px 12px 12px 0px;
}

.frame-2-2 input{
  margin:12px 0px 12px 0px;
}


.frame-3 {
  padding: 0 10%;
  font-family: var(--secondary-font);
  color: var(--text-color);
  display: flex;
  font-weight: bolder;
}

.frame-3 label{
  margin: 0 1%;
}


